#map {
  height: 100vw;
  width: 75.6%;
  float: right;
  /* position: relative; */
  clear: right;
}

h3 {
  text-align: center;
}
#container {
  display: flex;
  position: static;
}

.locationDisp {
  height: 80px;
  width: 10rem;
  background-color: lightblue;
  border: 2px solid gray;
}

.locationDisp h2 {
  font-size: 12px;
  padding-left: 5px;
}
#contactForm {
  background-color: gray;
  /* width: fit-content; */
  width: 20.4%;
  border: 2px solid black;
  /* display: flex; */
  align-items: center;
}

#subject {
  width: 96.3%;
}
#message {
  width: 97.5%;
}
.locationDisp {
  position: relative;
  top: 97px;
  z-index: 999;
  left: 25px;
}
#name,
#email {
  width: 50%;
}

input {
  margin: 1px;
}
